/* styles.module.css */
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  width: 30px; /* Smaller size */
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8); /* White background with transparency */
  border-radius: 50%; /* Round shape */
  color: #06273a; /* Default icon color */
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease; /* Smooth transition */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow for better visibility */
}

.mySwiper .swiper-button-next:hover,
.mySwiper .swiper-button-prev:hover {
  background-color: #910a67; /* Hover color for light theme */
  color: white;
}

.container {
  position: relative;
  overflow: hidden;
}

.card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box span::before {
  content: "Best Selling";
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #ff6547 0%, #ffb144 51%, #ff7053 100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:after {
  font-size: 16px; /* Icon size */
  font-weight: bold;
}

.mySwiper .swiper-button-next {
  right: 10px; /* Positioning */
}

.mySwiper .swiper-button-prev {
  left: 10px;
}

.dark .mySwiper .swiper-button-next,
.dark .mySwiper .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.8);
  color: #b3bdca; /* Icon color for dark theme */
}

.dark .mySwiper .swiper-button-next:hover,
.dark .mySwiper .swiper-button-prev:hover {
  background-color: #910a67;
  color: white;
}

.mySwiper .swiper-pagination {
  display: none; /* Hide pagination bullets */
}

